.portrait-hero{
  max-width: 300px;
  height: auto;
}

@keyframes upscore {
    from {
        top: 40px;
        opacity: 1;
    }
    to {
        top: 0px;
        opacity: 0.5;
    }
}

.upscore {
    animation: upscore 2s;
    top: 0px;
    left: 150px;
    font-size: 20px;
}
