<div *ngIf="hero&&weapon" class="mt-5">
  <div class="row align-items-center">
    <div class="col-5" style="margin:auto;">
      <h2>{{ hero.name | uppercase }}</h2>
      <img class="portrait-hero" src="assets\img\{{hero.portrait}}">
      <div class="w3-light-grey w3-round col-8 nopadding">
        <div class="w3-container w3-round w3-green" [ngStyle]="{'width': hero.pv/initialPvHero*100+'%'}">
          <span *ngIf="hero.pv>0">{{hero.pv/initialPvHero*100}}%</span>
        </div>
      </div>
      <p>{{hero.pv}} /{{initialPvHero}} PV</p>
      <p>{{hero.atk + weapon.atk}} Atk</p>
      <p>{{hero.esq + weapon.esq}} Esq</p>
      <p>{{hero.dgts + weapon.dgts}} Dgts</p>
    </div>
    <div class="col-2 col-md-auto">
      <h2>VS</h2>
    </div>
    <div class="col-5" style="margin:auto;">
      <h2>{{ opponent.name | uppercase }}</h2>
      <img class="portrait-hero" src="assets\img\{{opponent.portrait}}">
      <div class="w3-light-grey w3-round col-8 nopadding">
        <div class="w3-container w3-round w3-green" [ngStyle]="{'width': opponent.pv/initialPvOpponent*100+'%'}">
          <span *ngIf="opponent.pv>0">{{opponent.pv/initialPvOpponent*100}}%</span>
        </div>
      </div>
      <p>{{opponent.pv}} /{{initialPvOpponent}} PV</p>
    </div>
  </div>
</div>
<div class="mt-3">
  <p>Your score: ...*</p>
  <button class="btn btn-warning" (click)="launchTurn()">Fight</button>
  <button class="btn">Try again*</button>
  <button class="btn">Next fight*</button>
</div>
<div class="mt-3">
  <div *ngFor='let message of boardService.messages' class="upscore">{{message}}</div>
    <!--<app-messages></app-messages>-->
</div>
(*)Not implement
